.home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 940px;
}

.nav-home {
    border-bottom: 0.5px solid #CBCBCB;
}

.nav-home .name {
    padding-top: 8%;
}

.nav-home .nav-links {
    padding-top: 5%;
    padding-bottom: 5%;

}

.home .content-box {
    background-color: white;
    margin-top: 5%;
    border-radius: 5px;
}

.home .content {
    display: flex;
    padding: 4%;
}

.home .content .text {
    width: 40%;
    height: auto;
    margin-right: 6%;
    margin-left: 4%;
    align-self: center;
}

.home .content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.home .headshot {
    width: 48%;
    margin-left: 2%;
}

.home .content .text h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.home .content .text p {
    padding-top: 12%;
    margin-top: 0;
    margin-bottom: 0;
}

.home .content .text h2:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 12%;
    border-bottom: 0.5px solid #CBCBCB;
}